SourceCodes/MSDeployApp/MSDeployApp/App_Data/MainLogic.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "connections_sql_1_name": {
      "defaultValue": "sql-1",
      "type": "string"
    },
    "sqlServer": {
      "type": "string",
      "defaultValue": "deployserver"
    },
    "sqlDatabase": {
      "type": "string",
      "defaultValue": "bingNews"
    },
    "sqlUser": {
      "type": "string",
      "defaultValue": "admindeploy"
    },
    "sqlPassword": {
      "type": "string",
      "defaultValue": "C@d3U$^#7"
    },
    "storage_accessKey1": {
      "type": "string",
      "defaultValue": "94f554fcfa5c46e79d806761d4567595"
    },
    "storage_accessKey2": {
      "type": "string",
      "defaultValue": "579fa0df0bb44580a98f809964dcb6ec"
    },
    "connections_bingsearch_name": {
      "defaultValue": "bingsearch",
      "type": "string"
    },
    "sites_function06af1xdwag_name": {
      "defaultValue": "function06af1xdwag",
      "type": "string"
    },
    "config_web_name": {
      "defaultValue": "web",
      "type": "string"
    },
    "workflows_mainflowappnewclone_name": {
      "defaultValue": "mainflowappnewclone_ARM",
      "type": "string"
    },
    "advisors_DropIndex_name": {
      "defaultValue": "DropIndex",
      "type": "string"
    },
    "advisors_CreateIndex_name": {
      "defaultValue": "CreateIndex",
      "type": "string"
    },
    "connections_cognitiveservicestextanalytics_name": {
      "defaultValue": "cognitiveservicestextanalytics",
      "type": "string"
    },
    "advisors_DefragmentIndex_name": {
      "defaultValue": "DefragmentIndex",
      "type": "string"
    },
    "auditingPolicies_Default_name": {
      "defaultValue": "Default",
      "type": "string"
    },
    "advisors_ForceLastGoodPlan_name": {
      "defaultValue": "ForceLastGoodPlan",
      "type": "string"
    },
    "advisors_DbParameterization_name": {
      "defaultValue": "DbParameterization",
      "type": "string"
    },
    "geoBackupPolicies_Default_name": {
      "defaultValue": "Default",
      "type": "string"
    },
    "transparentDataEncryption_current_name": {
      "defaultValue": "current",
      "type": "string"
    },
    "SubscriptionId": {
      "defaultValue": "6efc9ada-f2b2-472d-9d8e-fb0ab1e29d0c",
      "type": "string"
    }
  },
  "variables": {},
  "resources": [
    {
      "comments": "Generalized from resource: '/subscriptions/6efc9ada-f2b2-472d-9d8e-fb0ab1e29d0c/resourceGroups/AmnestyRG/providers/Microsoft.Logic/workflows/mainflowappnewclone'.",
      "type": "Microsoft.Logic/workflows",
      "name": "[parameters('workflows_mainflowappnewclone_name')]",
      "apiVersion": "2017-07-01",
      "location": "westus",
      "tags": {},
      "scale": null,
      "properties": {
        "state": "Disabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Recurrence": {
              "recurrence": {
                "frequency": "Hour",
                "interval": 3
              },
              "type": "Recurrence"
            }
          },
          "actions": {
            "For_each_2": {
              "foreach": "@body('List_news_by_query')",
              "actions": {
                "AbstractExtractor": {
                  "runAfter": {
                    "HTMLStripperWebhook": [
                      "Succeeded"
                    ]
                  },
                  "type": "Function",
                  "inputs": {
                    "body": {
                      "query": "@{body('Get_row')?['Keywords']}",
                      "text": "@{body('HTMLStripperWebHook')['NoTags']}"
                    },
                    "function": {
                      "id": "[concat('/subscriptions/6efc9ada-f2b2-472d-9d8e-fb0ab1e29d0c/resourceGroups/AmnestyRG/providers/','Microsoft.Web/sites/', parameters('sites_function06af1xdwag_name'), '/functions/AbstractExtractor')]"
                    }
                  }
                },
                "ArticleCleanerWebhook": {
                  "runAfter": {
                    "ExtractArticle": [
                      "Succeeded"
                    ]
                  },
                  "type": "Function",
                  "inputs": {
                    "body": {
                      "text": "@body('ExtractArticle')['bodyInHtml']"
                    },
                    "function": {
                      "id": "[concat('/subscriptions/6efc9ada-f2b2-472d-9d8e-fb0ab1e29d0c/resourceGroups/AmnestyRG/providers/','Microsoft.Web/sites/', parameters('sites_function06af1xdwag_name'),  '/functions/ASCIICleanerWebhook')]"
                    }
                  }
                },
                "Detect_Sentiment": {
                  "runAfter": {
                    "AbstractExtractor": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "body": {
                      "text": "@{substring(body('HTMLStripperWebHook')['NoTags'], 0, min(length(body('HTMLStripperWebHook')['NoTags']),5000))}"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['cognitiveservicestextanalytics']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/sentiment"
                  }
                },
                "ExtractArticle": {
                  "runAfter": {
                    "HTTP": [
                      "Succeeded"
                    ]
                  },
                  "type": "Function",
                  "inputs": {
                    "body": {
                      "html": "@{body('HTTP')}",
                      "url": "@Json(body('UrlCleaner'))?['newUri']"
                    },
                    "function": {
                      "id": "[concat('/subscriptions/6efc9ada-f2b2-472d-9d8e-fb0ab1e29d0c/resourceGroups/AmnestyRG/providers/','Microsoft.Web/sites/', parameters('sites_function06af1xdwag_name'),  '/functions/ArticleExtractor')]"
                    }
                  }
                },
                "For_each": {
                  "foreach": "@body('Key_Phrases')?['keyPhrases']",
                  "actions": {
                    "Execute_stored_procedure": {
                      "runAfter": {},
                      "type": "ApiConnection",
                      "inputs": {
                        "body": {
                          "abstract": "@{body('AbstractExtractor')['Snippet']}",
                          "category": "@items('For_each_2')?['category']",
                          "cleanedText": "@{body('HTMLStripperWebHook')['NoTags']}",
                          "cleanedTextLength": "@body('HTMLStripperWebHook')['NoTagsLength']",
                          "docid": "@{Json(body('UrlCleaner'))?['triggerId']}",
                          "imageHeight": "@items('For_each_2')['image']['thumbnail']['height']",
                          "imageUrl": "@{Json(body('MainImageExtractor'))?['ImageUrl']}",
                          "imageWidth": "@items('For_each_2')['image']['thumbnail']['width']",
                          "ingestDayPrecision": "@{Json(body('TimeUtilsWebHook'))?['DayPrecision']}",
                          "ingestHourPrecision": "@{Json(body('TimeUtilsWebHook'))?['HourPrecision']}",
                          "ingestMinutePrecision": "@{Json(body('TimeUtilsWebHook'))?['MinutePrecision']}",
                          "ingestMonthPrecision": "@{Json(body('TimeUtilsWebHook'))?['MonthPrecision']}",
                          "ingestTimestamp": "@{Json(body('TimeUtilsWebHook'))?['Timestamp']}",
                          "ingestWeekPrecision": "@{Json(body('TimeUtilsWebHook'))?['WeekPrecision']}",
                          "keyPhraseJson": "@items('For_each')",
                          "publishedDayPrecision": "@{Json(body('TimeUtilsWebHook_2'))?['DayPrecision']}",
                          "publishedHourPrecision": "@{Json(body('TimeUtilsWebHook_2'))?['HourPrecision']}",
                          "publishedMinutePrecision": "@{Json(body('TimeUtilsWebHook_2'))?['MonthPrecision']}",
                          "publishedMonthPrecision": "@{Json(body('TimeUtilsWebHook_2'))?['MonthPrecision']}",
                          "publishedTimestamp": "@{Json(body('TimeUtilsWebHook_2'))?['Timestamp']}",
                          "publishedWeekPrecision": "@{Json(body('TimeUtilsWebHook_2'))?['WeekPrecision']}",
                          "sentimentScore": "@body('Detect_Sentiment')?['score']",
                          "sourceDomain": "@{body('UrlDomainWebHook')['host']}",
                          "sourceUrl": "@{Json(body('UrlCleaner'))?['newUri']}",
                          "text": "@{body('HTMLstripperWebHook')['Scrubbed']}",
                          "textLength": "@body('HTMLstripperWebHook')['ScrubbedLength']",
                          "title": "@items('For_each_2')?['name']",
                          "userDefinedEntities": "@{body('UserDefinedEntitiesExtractor')['entities']}"
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['sql']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/datasets/default/procedures/@{encodeURIComponent(encodeURIComponent('[bpst_news].[sp_write_document]'))}"
                      }
                    }
                  },
                  "runAfter": {
                    "Detect_Sentiment": [
                      "Succeeded"
                    ],
                    "Key_Phrases": [
                      "Succeeded"
                    ],
                    "MainImageExtractor": [
                      "Succeeded"
                    ],
                    "TimeUtilsWebhook": [
                      "Succeeded"
                    ],
                    "TimeUtilsWebhook_2": [
                      "Succeeded"
                    ],
                    "UrlDomainWebhook": [
                      "Succeeded"
                    ],
                    "UserDefinedEntitiesExtractor": [
                      "Succeeded"
                    ]
                  },
                  "type": "Foreach"
                },
                "HTMLStripperWebhook": {
                  "runAfter": {
                    "ArticleCleanerWebhook": [
                      "Succeeded"
                    ]
                  },
                  "type": "Function",
                  "inputs": {
                    "body": {
                      "html": "@{body('ArticleCleanerWebHook')['text']}"
                    },
                    "function": {
                      "id": "[concat('/subscriptions/6efc9ada-f2b2-472d-9d8e-fb0ab1e29d0c/resourceGroups/AmnestyRG/providers/','Microsoft.Web/sites/', parameters('sites_function06af1xdwag_name'),  '/functions/HTMLCleanerWebhook')]"
                    }
                  }
                },
                "HTTP": {
                  "runAfter": {
                    "UrlCleaner": [
                      "Succeeded"
                    ]
                  },
                  "type": "Http",
                  "inputs": {
                    "method": "GET",
                    "uri": "@{Json(body('UrlCleaner'))?['newUri']}"
                  }
                },
                "Key_Phrases": {
                  "runAfter": {
                    "AbstractExtractor": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "body": {
                      "text": "@{substring(body('HTMLStripperWebHook')['NoTags'], 0, min(length(body('HTMLStripperWebHook')['NoTags']),5000))}"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['cognitiveservicestextanalytics']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/keyPhrases"
                  }
                },
                "MainImageExtractor": {
                  "runAfter": {
                    "HTTP": [
                      "Succeeded"
                    ]
                  },
                  "type": "Function",
                  "inputs": {
                    "body": {
                      "html": "@{body('HTTP')}"
                    },
                    "function": {
                      "id": "[concat('/subscriptions/6efc9ada-f2b2-472d-9d8e-fb0ab1e29d0c/resourceGroups/AmnestyRG/providers/','Microsoft.Web/sites/', parameters('sites_function06af1xdwag_name'),  '/functions/MainImageExtractor')]"
                    }
                  }
                },
                "TimeUtilsWebhook": {
                  "runAfter": {
                    "UrlCleaner": [
                      "Succeeded"
                    ]
                  },
                  "type": "Function",
                  "inputs": {
                    "body": {
                      "date": "@utcNow()"
                    },
                    "function": {
                      "id": "[concat('/subscriptions/6efc9ada-f2b2-472d-9d8e-fb0ab1e29d0c/resourceGroups/AmnestyRG/providers/','Microsoft.Web/sites/', parameters('sites_function06af1xdwag_name'),  '/functions/TimeUtilsWebhook')]"
                    }
                  }
                },
                "TimeUtilsWebhook_2": {
                  "runAfter": {
                    "UrlCleaner": [
                      "Succeeded"
                    ]
                  },
                  "type": "Function",
                  "inputs": {
                    "body": {
                      "date": "@items('For_each_2')?['datePublished']"
                    },
                    "function": {
                      "id": "[concat('/subscriptions/6efc9ada-f2b2-472d-9d8e-fb0ab1e29d0c/resourceGroups/AmnestyRG/providers/','Microsoft.Web/sites/', parameters('sites_function06af1xdwag_name'),  '/functions/TimeUtilsWebhook')]"
                    }
                  }
                },
                "UrlCleaner": {
                  "runAfter": {},
                  "type": "Function",
                  "inputs": {
                    "body": {
                      "url": "@{items('For_each_2')?['url']}"
                    },
                    "function": {
                      "id": "[concat('/subscriptions/6efc9ada-f2b2-472d-9d8e-fb0ab1e29d0c/resourceGroups/AmnestyRG/providers/','Microsoft.Web/sites/', parameters('sites_function06af1xdwag_name'),  '/functions/UrlCleaner')]"
                    }
                  }
                },
                "UrlDomainWebhook": {
                  "runAfter": {
                    "AbstractExtractor": [
                      "Succeeded"
                    ]
                  },
                  "type": "Function",
                  "inputs": {
                    "body": {
                      "url": "@Json(body('UrlCleaner'))?['newUri']"
                    },
                    "function": {
                      "id": "[concat('/subscriptions/6efc9ada-f2b2-472d-9d8e-fb0ab1e29d0c/resourceGroups/AmnestyRG/providers/','Microsoft.Web/sites/', parameters('sites_function06af1xdwag_name'),  '/functions/UrlDomainWebhook')]"
                    }
                  }
                },
                "UserDefinedEntitiesExtractor": {
                  "runAfter": {
                    "HTMLStripperWebhook": [
                      "Succeeded"
                    ]
                  },
                  "type": "Function",
                  "inputs": {
                    "body": {
                      "text": "@{body('HTMLStripperWebHook')['Scrubbed']}"
                    },
                    "function": {
                      "id": "[concat('/subscriptions/6efc9ada-f2b2-472d-9d8e-fb0ab1e29d0c/resourceGroups/AmnestyRG/providers/','Microsoft.Web/sites/', parameters('sites_function06af1xdwag_name'),  '/functions/UserDefinedEntities')]"
                    }
                  }
                }
              },
              "runAfter": {
                "List_news_by_query": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Get_row": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['sql']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('[bpst_news].[MySettings]'))}/items/@{encodeURIComponent(encodeURIComponent('1'))}"
              }
            },
            "List_news_by_query": {
              "runAfter": {
                "Get_row": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['bingsearch']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/news/search",
                "queries": {
                  "count": "1",
                  "mkt": "en-US",
                  "offset": "0",
                  "q": "@body('Get_row')?['Keywords']",
                  "safeSearch": "Moderate"
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "bingsearch": {
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_bingsearch_name'))]",
                "connectionName": "bingsearch",
                "id": "/subscriptions/6efc9ada-f2b2-472d-9d8e-fb0ab1e29d0c/providers/Microsoft.Web/locations/westus/managedApis/bingsearch"
              },
              "cognitiveservicestextanalytics": {
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_cognitiveservicestextanalytics_name'))]",
                "connectionName": "cognitiveservicestextanalytics",
                "id": "/subscriptions/6efc9ada-f2b2-472d-9d8e-fb0ab1e29d0c/providers/Microsoft.Web/locations/westus/managedApis/cognitiveservicestextanalytics"
              },
              "sql": {
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_sql_1_name'))]",
                "connectionName": "sql-1",
                "id": "/subscriptions/6efc9ada-f2b2-472d-9d8e-fb0ab1e29d0c/providers/Microsoft.Web/locations/westus/managedApis/sql"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('connections_bingsearch_name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('connections_cognitiveservicestextanalytics_name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('connections_sql_1_name'))]"
      ]
    },
    {
      "comments": "Generalized from resource: '/subscriptions/6efc9ada-f2b2-472d-9d8e-fb0ab1e29d0c/resourceGroups/AmnestyRG/providers/Microsoft.Web/connections/bingsearch'.",
      "type": "Microsoft.Web/connections",
      "name": "[parameters('connections_bingsearch_name')]",
      "apiVersion": "2016-06-01",
      "location": "westus",
      "scale": null,
      "properties": {
        "displayName": "[parameters('connections_bingsearch_name')]",
        "customParameterValues": {},
        "api": {
          "id": "[concat('/subscriptions/6efc9ada-f2b2-472d-9d8e-fb0ab1e29d0c/providers/Microsoft.Web/locations/westus/managedApis/', parameters('connections_bingsearch_name'))]"
        },
        "parameterValues": {
          "apiKey": "[parameters('storage_accessKey1')]"
        }
      },
      "dependsOn": []
    },
    {
      "comments": "Generalized from resource: '/subscriptions/6efc9ada-f2b2-472d-9d8e-fb0ab1e29d0c/resourceGroups/AmnestyRG/providers/Microsoft.Web/connections/cognitiveservicestextanalytics'.",
      "type": "Microsoft.Web/connections",
      "name": "[parameters('connections_cognitiveservicestextanalytics_name')]",
      "apiVersion": "2016-06-01",
      "location": "westus",
      "scale": null,
      "properties": {
        "displayName": "TextAnalytics",
        "customParameterValues": {},
        "api": {
          "id": "[concat('/subscriptions/6efc9ada-f2b2-472d-9d8e-fb0ab1e29d0c/providers/Microsoft.Web/locations/westus/managedApis/', parameters('connections_cognitiveservicestextanalytics_name'))]"
        },
        "parameterValues": {
          "apiKey": "[parameters('storage_accessKey2')]"
        }
      },
      "dependsOn": []
    },
    {
      "comments": "Generalized from resource: '/subscriptions/6efc9ada-f2b2-472d-9d8e-fb0ab1e29d0c/resourceGroups/AmnestyRG/providers/Microsoft.Web/connections/sql-1'.",
      "type": "Microsoft.Web/connections",
      "name": "[parameters('connections_sql_1_name')]",
      "apiVersion": "2016-06-01",
      "location": "westus",
      "scale": null,
      "properties": {
        "displayName": "amnestyconn",
        "parameterValues": {
          "server": "[parameters('sqlServer')]",
          "database": "[parameters('sqlDatabase')]",
          "authType": "basic",
          "username": "[parameters('sqlUser')]",
          "password": "[parameters('sqlPassword')]"
        },
        "customParameterValues": {},
        "api": {
          "id": "/subscriptions/6efc9ada-f2b2-472d-9d8e-fb0ab1e29d0c/providers/Microsoft.Web/locations/westus/managedApis/sql"
        }
      },
      "dependsOn": []
    }
  ]
}