SourceCodes/MSDeployApp/MSDeployApp/obj/Release/Package/PackageTmp/Service/AzureArm/LogicApps_ML.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
  "parameters": {
    "sites_jsntest_name": {
      "defaultValue": "jsntest",
      "type": "string"
    },
    "connections_sql_name": {
      "defaultValue": "sql-1",
      "type": "string"
    },
    "sites_victory_9cdf_name": {
      "defaultValue": "victory-9cdf",
      "type": "string"
    },
    "workflows_TestApp_name": {
      "defaultValue": "TestApp",
      "type": "string"
    },
    "servers_amnestynews_name": {
      "defaultValue": "amnestynews",
      "type": "string"
    },
    "connections_azureml_name": {
      "defaultValue": "azureml",
      "type": "string"
    },
    "connections_bingsearch_name": {
      "defaultValue": "bingsearch",
      "type": "string"
    },
    "serverfarms_WestUSPlan_name": {
      "defaultValue": "WestUSPlan",
      "type": "string"
    },
    "sites_functionqfz47ane82_name": {
      "defaultValue": "",
      "type": "string"
    },
    "config_web_name": {
      "defaultValue": "web",
      "type": "string"
    },
    "workflows_LogicAppMainNews_name": {
      "defaultValue": "LogicAppMainNews",
      "type": "string"
    },
    "workflows_notifierLogicApp_name": {
      "defaultValue": "notifierLogicApp",
      "type": "string"
    },
    "components_jsntestrl4i54_name": {
      "defaultValue": "jsntestrl4i54",
      "type": "string"
    },
    "components_victoryrl4i54_name": {
      "defaultValue": "victoryrl4i54",
      "type": "string"
    },
    "workflows_LogicAppScheduler_name": {
      "defaultValue": "LogicAppScheduler",
      "type": "string"
    },
    "config_web_name_1": {
      "defaultValue": "web",
      "type": "string"
    },
    "storageAccounts_victory9cdf_name": {
      "defaultValue": "victory9cdf123",
      "type": "string"
    },
    "storageAccounts_jsntest8ea8_name": {
      "defaultValue": "jsntest8ea8123",
      "type": "string"
    },
    "connections_sqlNotifierConnection_name": {
      "defaultValue": "sqlNotifierConnection_name",
      "type": "string"
    },
    "workflows_LogicAppHistoricalNews_name": {
      "defaultValue": "LogicAppHistoricalNews",
      "type": "string"
    },
    "config_web_name_2": {
      "defaultValue": "web",
      "type": "string"
    },
    "storageAccounts_storageqfz47ane82_name": {
      "defaultValue": "storageqfz47ane82123",
      "type": "string"
    },
    "advisors_DropIndex_name": {
      "defaultValue": "DropIndex",
      "type": "string"
    },
    "databases_bingNews_name": {
      "defaultValue": "bingNews",
      "type": "string"
    },
    "keys_ServiceManaged_name": {
      "defaultValue": "ServiceManaged",
      "type": "string"
    },
    "advisors_CreateIndex_name": {
      "defaultValue": "CreateIndex",
      "type": "string"
    },
    "commitmentPlans_commitmentplan_name": {
      "defaultValue": "commitmentplan",
      "type": "string"
    },
    "connections_cognitiveservicestextanalytics_name": {
      "defaultValue": "cognitiveservicestextanalytics",
      "type": "string"
    },
    "accounts_BingCognitiveService_name": {
      "defaultValue": "BingCognitiveService",
      "type": "string"
    },
    "accounts_TextCognitiveService_name": {
      "defaultValue": "TextCognitiveService",
      "type": "string"
    },
    "storageAccounts_solutiontemplaterccecsmi_name": {
      "defaultValue": "solutiontemplaterccecsm1",
      "type": "string"
    },
    "advisors_DefragmentIndex_name": {
      "defaultValue": "DefragmentIndex",
      "type": "string"
    },
    "auditingPolicies_Default_name": {
      "defaultValue": "Default",
      "type": "string"
    },
    "advisors_ForceLastGoodPlan_name": {
      "defaultValue": "ForceLastGoodPlan",
      "type": "string"
    },
    "advisors_DbParameterization_name": {
      "defaultValue": "DbParameterization",
      "type": "string"
    },
    "encryptionProtector_current_name": {
      "defaultValue": "current",
      "type": "string"
    },
    "firewallRules_pleasechangeme_name": {
      "defaultValue": "pleasechangeme",
      "type": "string"
    },
    "alertrules_Failure_Anomalies___jsntestrl4i54_name": {
      "defaultValue": "Failure Anomalies - jsntestrl4i54",
      "type": "string"
    },
    "alertrules_Failure_Anomalies___victoryrl4i54_name": {
      "defaultValue": "Failure Anomalies - victoryrl4i54",
      "type": "string"
    },
    "webServices_TopicsWebServiceqfz47ane82_name": {
      "defaultValue": "TopicsWebService1234",
      "type": "string"
    },
    "webServices_EntitiesWebServiceqfz47ane82_name": {
      "defaultValue": "EntitiesWebServiceqfz47ane82",
      "type": "string"
    },
    "firewallRules_AllowAzureServices_name": {
      "defaultValue": "AllowAzureServices",
      "type": "string"
    },
    "webServices_TopicsImagesWebServiceqfz47ane82_name": {
      "defaultValue": "TopicsImagesWebService1234",
      "type": "string"
    },
    "hostNameBindings_jsntest.azurewebsites.net_name": {
      "defaultValue": "jsntest.azurewebsites.net",
      "type": "string"
    },
    "advisors_DropIndex_name_1": {
      "defaultValue": "DropIndex",
      "type": "string"
    },
    "advisors_CreateIndex_name_1": {
      "defaultValue": "CreateIndex",
      "type": "string"
    },
    "auditingPolicies_Default_name_1": {
      "defaultValue": "Default",
      "type": "string"
    },
    "databases_master_name": {
      "defaultValue": "master",
      "type": "string"
    },
    "geoBackupPolicies_Default_name": {
      "defaultValue": "Default",
      "type": "string"
    },
    "advisors_DefragmentIndex_name_1": {
      "defaultValue": "DefragmentIndex",
      "type": "string"
    },
    "auditingPolicies_Default_name_2": {
      "defaultValue": "Default",
      "type": "string"
    },
    "geoBackupPolicies_Default_name_1": {
      "defaultValue": "Default",
      "type": "string"
    },
    "advisors_ForceLastGoodPlan_name_1": {
      "defaultValue": "ForceLastGoodPlan",
      "type": "string"
    },
    "advisors_DbParameterization_name_1": {
      "defaultValue": "DbParameterization",
      "type": "string"
    },
    "hostNameBindings_victory_9cdf.azurewebsites.net_name": {
      "defaultValue": "victory-9cdf.azurewebsites.net",
      "type": "string"
    },
    "transparentDataEncryption_current_name": {
      "defaultValue": "current",
      "type": "string"
    },
    "transparentDataEncryption_current_name_1": {
      "defaultValue": "current",
      "type": "string"
    },
    "deployments_9ccddde5370bcac53840878abbaf65ce7ed8f365_name": {
      "defaultValue": "9ccddde5370bcac53840878abbaf65ce7ed8f365",
      "type": "string"
    },
    "hostNameBindings_functionqfz47ane82.azurewebsites.net_name": {
      "defaultValue": "functionqfz47ane82.azurewebsites.net",
      "type": "string"
    },
    "SubscriptionId": {
      "defaultValue": "",
      "type": "string"
    },
    "sites_victory_9cdf_serverFarmId": {
      "defaultValue": "[concat('/subscriptions/',parameters('SubscriptionId'),'/resourceGroups/ARM-DeployRG/providers/Microsoft.Web/serverfarms/CentralUSPlante1212')]",
      "type": "string"
    },
    "sites_jsntest_serverFarmId": {
      "defaultValue": "[concat('/subscriptions/',parameters('SubscriptionId'),'/resourceGroups/ARM-DeployRG/providers/Microsoft.Web/serverfarms/CentralUSPlante1212')]",
      "type": "string"
    }
  },
    "variables": {},
  "resources": [
    {
      "comments": "Generalized from resource: '/subscriptions/6efc9ada-f2b2-472d-9d8e-fb0ab1e29d0c/resourceGroups/AmnestyResourceGroup/providers/Microsoft.Logic/workflows/LogicAppHistoricalNews'.",
      "type": "Microsoft.Logic/workflows",
      "name": "[parameters('workflows_LogicAppHistoricalNews_name')]",
      "apiVersion": "2017-07-01",
      "location": "westus",
      "scale": null,
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "schema": {}
                }
              }
            }
          },
          "actions": {
            "For_each": {
              "foreach": "@body('List_news_by_query')",
              "actions": {
                "AbstractExtractor": {
                  "runAfter": {
                    "HTMLStripperWebHook": [
                      "Succeeded"
                    ]
                  },
                  "type": "Function",
                  "inputs": {
                    "body": {
                      "query": "@{actions('List_news_by_query')['inputs']['queries']['q']}",
                      "text": "@{body('HTMLStripperWebHook')['NoTags']}"
                    },
                    "function": {
                      "id": "[concat(resourceId('Microsoft.Web/sites', parameters('sites_functionqfz47ane82_name')), '/Functions/AbstractExtractor')]"
                    }
                  }
                },
                "UserDefinedEntitiesExtractor": {
                  "runAfter": {
                    "HTMLStripperWebHook": [
                      "Succeeded"
                    ]
                  },
                  "type": "Function",
                  "inputs": {
                    "body": {
                      "text": "@{body('HTMLStripperWebHook')['Scrubbed']}"
                    },
                    "function": {
                      "id": "[concat(resourceId('Microsoft.Web/sites', parameters('sites_functionqfz47ane82_name')), '/Functions/UserDefinedEntities')]"
                    }
                  }
                },
                "ArticleCleanerWebHook": {
                  "runAfter": {
                    "ExtractArticle": [
                      "Succeeded"
                    ]
                  },
                  "type": "Function",
                  "inputs": {
                    "body": {
                      "text": "@body('ExtractArticle')['bodyInHtml']"
                    },
                    "function": {
                      "id": "[concat(resourceId('Microsoft.Web/sites', parameters('sites_functionqfz47ane82_name')), '/Functions/ASCIICleanerWebhook')]"
                    }
                  }
                },
                "Detect_Sentiment": {
                  "runAfter": {
                    "AbstractExtractor": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "body": {
                      "text": "@{substring(body('HTMLStripperWebHook')['NoTags'], 0, min(length(body('HTMLStripperWebHook')['NoTags']),5000))}"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['cognitiveservicestextanalytics']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/sentiment"
                  }
                },
                "ExtractArticle": {
                  "runAfter": {
                    "HTTP": [
                      "Succeeded"
                    ]
                  },
                  "type": "Function",
                  "inputs": {
                    "body": {
                      "html": "@{body('HTTP')}",
                      "url": "@Json(body('UrlCleaner'))?['newUri']"
                    },
                    "function": {
                      "id": "[concat(resourceId('Microsoft.Web/sites', parameters('sites_functionqfz47ane82_name')), '/Functions/ArticleExtractor')]"
                    }
                  }
                },
                "UrlCleaner": {
                  "runAfter": {},
                  "type": "Function",
                  "inputs": {
                    "body": {
                      "url": "@{item()?['url']}"
                    },
                    "function": {
                      "id": "[concat(resourceId('Microsoft.Web/sites', parameters('sites_functionqfz47ane82_name')), '/Functions/UrlCleaner')]"
                    }
                  }
                },
                "HTMLStripperWebHook": {
                  "runAfter": {
                    "ArticleCleanerWebHook": [
                      "Succeeded"
                    ]
                  },
                  "type": "Function",
                  "inputs": {
                    "body": {
                      "html": "@{body('ArticleCleanerWebHook')['text']}"
                    },
                    "function": {
                      "id": "[concat(resourceId('Microsoft.Web/sites', parameters('sites_functionqfz47ane82_name')), '/Functions/HTMLCleanerWebhook')]"
                    }
                  }
                },
                "HTTP": {
                  "runAfter": {
                    "UrlCleaner": [
                      "Succeeded"
                    ]
                  },
                  "type": "Http",
                  "inputs": {
                    "method": "GET",
                    "uri": "@Json(body('UrlCleaner'))?['newUri']"
                  }
                },
                "MainImageExtractor": {
                  "runAfter": {
                    "HTTP": [
                      "Succeeded"
                    ]
                  },
                  "type": "Function",
                  "inputs": {
                    "body": {
                      "html": "@{body('HTTP')}"
                    },
                    "function": {
                      "id": "[concat(resourceId('Microsoft.Web/sites', parameters('sites_functionqfz47ane82_name')), '/Functions/MainImageExtractor')]"
                    }
                  }
                },
                "InsertDocument": {
                  "runAfter": {
                    "Detect_Sentiment": [
                      "Succeeded"
                    ],
                    "TimeUtilsWebHook": [
                      "Succeeded"
                    ],
                    "TimeUtilsWebHook_2": [
                      "Succeeded"
                    ],
                    "MainImageExtractor": [
                      "Succeeded"
                    ],
                    "UrlDomainWebHook": [
                      "Succeeded"
                    ],
                    "UserDefinedEntitiesExtractor": [
                      "Succeeded"
                    ],
                    "Key_Phrases": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "body": {
                      "category": "@{item()?['category']}",
                      "cleanedText": "@{body('HTMLStripperWebHook')['NoTags']}",
                      "cleanedTextLength": "@{body('HTMLStripperWebHook')['NoTagsLength']}",
                      "abstract": "@{body('AbstractExtractor')?['Snippet']}",
                      "docid": "@Json(body('UrlCleaner'))?['triggerId']",
                      "imageHeight": "@{item()?['image']?['thumbnail']?['height']}",
                      "imageUrl": "@Json(body('MainImageExtractor'))?['ImageUrl']",
                      "imageWidth": "@{item()?['image']?['thumbnail']?['width']}",
                      "ingestDayPrecision": "@Json(body('TimeUtilsWebHook'))?['DayPrecision']",
                      "ingestHourPrecision": "@Json(body('TimeUtilsWebHook'))?['HourPrecision']",
                      "ingestMinutePrecision": "@Json(body('TimeUtilsWebHook'))?['MinutePrecision']",
                      "ingestMonthPrecision": "@Json(body('TimeUtilsWebHook'))?['MonthPrecision']",
                      "ingestTimestamp": "@Json(body('TimeUtilsWebHook'))?['Timestamp']",
                      "ingestWeekPrecision": "@Json(body('TimeUtilsWebHook'))?['WeekPrecision']",
                      "keyPhraseJson": "@{body('Key_Phrases')?['keyPhrases']}",
                      "publishedDayPrecision": "@Json(body('TimeUtilsWebHook_2'))?['DayPrecision']",
                      "publishedHourPrecision": "@Json(body('TimeUtilsWebHook_2'))?['HourPrecision']",
                      "publishedMinutePrecision": "@Json(body('TimeUtilsWebHook_2'))?['MinutePrecision']",
                      "publishedMonthPrecision": "@Json(body('TimeUtilsWebHook_2'))?['MonthPrecision']",
                      "publishedTimestamp": "@Json(body('TimeUtilsWebHook_2'))?['Timestamp']",
                      "publishedWeekPrecision": "@Json(body('TimeUtilsWebHook_2'))?['WeekPrecision']",
                      "sentimentScore": "@body('Detect_Sentiment')?['score']",
                      "sourceDomain": "@{body('UrlDomainWebHook')?['host']}",
                      "sourceUrl": "@Json(body('UrlCleaner'))?['newUri']",
                      "text": "@{body('HTMLStripperWebHook')['Scrubbed']}",
                      "textLength": "@{body('HTMLStripperWebHook')['ScrubbedLength']}",
                      "userDefinedEntities": "@{body('UserDefinedEntitiesExtractor')?['entities']}",
                      "title": "@{item()?['name']}"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['sql']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/datasets/default/procedures/@{encodeURIComponent(encodeURIComponent('[bpst_news].[sp_write_document]'))}"
                  }
                },
                "Key_Phrases": {
                  "runAfter": {
                    "AbstractExtractor": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "body": {
                      "text": "@{substring(body('HTMLStripperWebHook')['NoTags'], 0, min(length(body('HTMLStripperWebHook')['NoTags']),5000))}"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['cognitiveservicestextanalytics']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/keyPhrases"
                  }
                },
                "TimeUtilsWebHook": {
                  "runAfter": {},
                  "type": "Function",
                  "inputs": {
                    "body": {
                      "date": "@utcnow()"
                    },
                    "function": {
                      "id": "[concat(resourceId('Microsoft.Web/sites', parameters('sites_functionqfz47ane82_name')), '/Functions/TimeUtilsWebhook')]"
                    }
                  }
                },
                "TimeUtilsWebHook_2": {
                  "runAfter": {},
                  "type": "Function",
                  "inputs": {
                    "body": {
                      "date": "@{item()?['datePublished']}"
                    },
                    "function": {
                      "id": "[concat(resourceId('Microsoft.Web/sites', parameters('sites_functionqfz47ane82_name')), '/Functions/TimeUtilsWebhook')]"
                    }
                  }
                },
                "UrlDomainWebHook": {
                  "runAfter": {
                    "AbstractExtractor": [
                      "Succeeded"
                    ]
                  },
                  "type": "Function",
                  "inputs": {
                    "body": {
                      "url": "@Json(body('UrlCleaner'))?['newUri']"
                    },
                    "function": {
                      "id": "[concat(resourceId('Microsoft.Web/sites', parameters('sites_functionqfz47ane82_name')), '/Functions/UrlDomainWebhook')]"
                    }
                  }
                },
                "For_each_2": {
                  "foreach": "@body('AbstractExtractor')?['Matches']",
                  "actions": {
                    "Insert_row": {
                      "runAfter": {},
                      "type": "ApiConnection",
                      "inputs": {
                        "body": {
                          "documentId": "@Json(body('UrlCleaner'))?['triggerId']",
                          "searchterms": "@item()['match']"
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['sql']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('[bpst_news].[documentsearchterms]'))}/items"
                      }
                    }
                  },
                  "runAfter": {
                    "AbstractExtractor": [
                      "Succeeded"
                    ]
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {
                "List_news_by_query": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "List_news_by_query": {
              "runAfter": {
                "Until_2": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['bingsearch']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/news/search",
                "queries": {
                  "count": "100",
                  "mkt": "en-US",
                  "q": "\"Death Penalty\"",
                  "safeSearch": "Moderate"
                }
              }
            },
            "Until": {
              "actions": {
                "TriggerHistory_2": {
                  "runAfter": {},
                  "type": "Function",
                  "inputs": {
                    "body": {},
                    "function": {
                      "id": "[concat(resourceId('Microsoft.Web/sites', parameters('sites_functionqfz47ane82_name')), '/Functions/TriggerHistory')]"
                    }
                  }
                }
              },
              "runAfter": {},
              "expression": "@equals(body('TriggerHistory_2'), 'true')",
              "limit": {
                "count": 60,
                "timeout": "PT1H"
              },
              "type": "Until"
            },
            "Until_2": {
              "actions": {
                "TriggerHistorySentiment": {
                  "runAfter": {},
                  "type": "Function",
                  "inputs": {
                    "body": {},
                    "function": {
                      "id": "[concat(resourceId('Microsoft.Web/sites', parameters('sites_functionqfz47ane82_name')), '/Functions/TriggerHistorySentiment')]"
                    }
                  }
                }
              },
              "runAfter": {
                "Until": [
                  "Succeeded"
                ]
              },
              "expression": "@equals(body('TriggerHistorySentiment'), 'true')",
              "limit": {
                "count": 60,
                "timeout": "PT1H"
              },
              "type": "Until"
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "bingsearch": {
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_bingsearch_name'))]",
                "connectionName": "bingsearch",
                "id": "[concat('/subscriptions/',parameters('SubscriptionId'),'/providers/Microsoft.Web/locations/westus/managedApis/bingsearch')]"
              },
              "cognitiveservicestextanalytics": {
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_cognitiveservicestextanalytics_name'))]",
                "connectionName": "cognitiveservicestextanalytics",
                "id": "[concat('/subscriptions/',parameters('SubscriptionId'),'/providers/Microsoft.Web/locations/westus/managedApis/cognitiveservicestextanalytics')]"
              },
              "sql": {
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_sql_name'))]",
                "connectionName": "sql",
                "id": "[concat('/subscriptions/',parameters('SubscriptionId'),'/providers/Microsoft.Web/locations/westus/managedApis/sql')]"
              }
            }
          }
        }
      } /*,
      "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_functionqfz47ane82_name'))]",
                "[resourceId('Microsoft.Web/connections', parameters('connections_bingsearch_name'))]",
                "[resourceId('Microsoft.Web/connections', parameters('connections_cognitiveservicestextanalytics_name'))]",
                "[resourceId('Microsoft.Web/connections', parameters('connections_sql_name'))]"
            ]*/
    },

    

    {
      "comments": "Generalized from resource: '/subscriptions/6efc9ada-f2b2-472d-9d8e-fb0ab1e29d0c/resourceGroups/AmnestyResourceGroup/providers/Microsoft.Logic/workflows/LogicAppScheduler'.",
      "type": "Microsoft.Logic/workflows",
      "name": "[parameters('workflows_LogicAppScheduler_name')]",
      "apiVersion": "2017-07-01",
      "location": "westus",
      "scale": null,
      "properties": {
        "state": "Disabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Recurrence": {
              "recurrence": {
                "frequency": "Hour",
                "interval": 3,
                "startTime": "26 Oct 2016 01:00:00",
                "timeZone": "Pacific Standard Time"
              },
              "type": "Recurrence"
            }
          },
          "actions": {
            "Clean_Bulk_Tables": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['sql_1']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/datasets/default/procedures/@{encodeURIComponent(encodeURIComponent('[bpst_news].[sp_clean_stage_tables]'))}"
              }
            },
            "Merge_Tables": {
              "runAfter": {
                "Topic_Images_AzureML": [
                  "Succeeded"
                ],
                "Entity_AzureML": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['sql_1']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/datasets/default/procedures/@{encodeURIComponent(encodeURIComponent('[bpst_news].[sp_mergedata]'))}"
              }
            },
            "Append_Topic_Phrases": {
              "runAfter": {
                "Merge_Tables": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "body": "",
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['sql_1']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/datasets/default/procedures/@{encodeURIComponent(encodeURIComponent('[bpst_news].[sp_create_topic_key_phrase]'))}"
              }
            },
            "Entity_AzureML": {
              "runAfter": {
                "Clean_Bulk_Tables": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azureml']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/api/None",
                "queries": {
                  "API_Key": "62Z6UshOIWZ445NdUt7Vm+FfJX+Wne4SVtfQZlQYlAVkxGYo+MtOdiLH7FlsZn2n1rmjUwyQ6vzCC0Q9QGbUdQ==",
                  "API_URL": "https://ussouthcentral.services.azureml.net/subscriptions/6efc9adaf2b2472d9d8efb0ab1e29d0c/services/abd5ba1d59cf413db74058c38750a5b9/jobs?api-version=2.0"
                }
              }
            },
            "Topic_AzureML": {
              "runAfter": {
                "Clean_Bulk_Tables": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azureml']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/api/None",
                "queries": {
                  "API_Key": "rxEWbv9sDgphCA5xTAILZqPML4pQ1xkoi18FQOE7ud5hoS3wdpxgwSWsXqq/0s/OHGiwv/hMQefH3aTQwAAkmA==",
                  "API_URL": "https://ussouthcentral.services.azureml.net/subscriptions/6efc9adaf2b2472d9d8efb0ab1e29d0c/services/c801346ee7124110ad0cba8276bacb6b/jobs?api-version=2.0"
                }
              }
            },
            "Topic_Images_AzureML": {
              "runAfter": {
                "Topic_AzureML": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azureml']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/api/None",
                "queries": {
                  "API_Key": "xw/YrR3k0J8/WPyv2ZcOWr5AosyxSderraIsiXlwKdcIwD7/4y9kSWDniMntfun4XFYP8AxdF3NXy3+dBQbpOA==",
                  "API_URL": "https://ussouthcentral.services.azureml.net/subscriptions/6efc9adaf2b2472d9d8efb0ab1e29d0c/services/8fa263ec20f045a6a96f59ee044f5123/jobs?api-version=2.0"
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azureml": {
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_azureml_name'))]",
                "connectionName": "AzureMLConnector",
                "id": "[concat('/subscriptions/',parameters('SubscriptionId'),'/providers/Microsoft.Web/locations/westus/managedApis/azureml')]"
              },
              "sql_1": {
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_sql_name'))]",
                "connectionName": "MySqlConnector",
                "id": "[concat('/subscriptions/',parameters('SubscriptionId'),'/providers/Microsoft.Web/locations/westus/managedApis/sql')]"
              }
            }
          }
        }
      } /*,
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('connections_azureml_name'))]",
                "[resourceId('Microsoft.Web/connections', parameters('connections_sql_name'))]"
            ]*/
    },

    

    {
      "comments": "Generalized from resource: '/subscriptions/6efc9ada-f2b2-472d-9d8e-fb0ab1e29d0c/resourceGroups/AmnestyResourceGroup/providers/Microsoft.Logic/workflows/notifierLogicApp'.",
      "type": "Microsoft.Logic/workflows",
      "name": "[parameters('workflows_notifierLogicApp_name')]",
      "apiVersion": "2017-07-01",
      "location": "westus",
      "scale": null,
      "properties": {
        "state": "Disabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "value": "run"
                }
              }
            }
          },
          "actions": {
            "Condition": {
              "actions": {
                "DeploymentId": {
                  "runAfter": {
                    "NotificationEmails": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "api": {
                        "runtimeUrl": "https://logic-apis-westus.azure-apim.net/apim/sql"
                      },
                      "connection": {
                        "name": "@parameters('$connections')['sql']['connectionId']"
                      }
                    },
                    "method": "get",
                    "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('[bpst_news].[configuration]'))}/items",
                    "queries": {
                      "$filter": "configuration_subgroup eq 'Notifier' and name eq 'DeploymentId'",
                      "$select": "name,value"
                    }
                  }
                },
                "HTTP": {
                  "runAfter": {
                    "TemplateName": [
                      "Succeeded"
                    ]
                  },
                  "type": "Http",
                  "inputs": {
                    "body": {
                      "deploymentId": "@body('DeploymentId')?['value']?[0]?['value']",
                      "statuscode": "@body('DataPullStatus')?['value']?[0]?['value']",
                      "templateName": "@body('TemplateName')?['value']?[0]?['value']",
                      "to": "@body('NotificationEmails')?['value']?[0]?['value']"
                    },
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "method": "POST",
                    "uri": "@{body('NotifierUrl')?['value']?[0]?['value']}"
                  }
                },
                "NotificationEmails": {
                  "runAfter": {
                    "NotifierUrl": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "api": {
                        "runtimeUrl": "https://logic-apis-westus.azure-apim.net/apim/sql"
                      },
                      "connection": {
                        "name": "@parameters('$connections')['sql']['connectionId']"
                      }
                    },
                    "method": "get",
                    "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('[bpst_news].[configuration]'))}/items",
                    "queries": {
                      "$filter": "configuration_subgroup eq 'Notifier' and name eq 'NotificationEmails'",
                      "$select": "name,value"
                    }
                  }
                },
                "NotifierUrl": {
                  "runAfter": {},
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "api": {
                        "runtimeUrl": "https://logic-apis-westus.azure-apim.net/apim/sql"
                      },
                      "connection": {
                        "name": "@parameters('$connections')['sql']['connectionId']"
                      }
                    },
                    "method": "get",
                    "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('[bpst_news].[configuration]'))}/items",
                    "queries": {
                      "$filter": "configuration_subgroup eq 'Notifier' and name eq 'NotifierUrl'",
                      "$select": "name, value"
                    }
                  }
                },
                "TemplateName": {
                  "runAfter": {
                    "DeploymentId": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "api": {
                        "runtimeUrl": "https://logic-apis-westus.azure-apim.net/apim/sql"
                      },
                      "connection": {
                        "name": "@parameters('$connections')['sql']['connectionId']"
                      }
                    },
                    "method": "get",
                    "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('[bpst_news].[configuration]'))}/items",
                    "queries": {
                      "$filter": "configuration_subgroup eq 'Notifier' and name eq 'TemplateName'",
                      "$select": "name,value"
                    }
                  }
                }
              },
              "runAfter": {
                "DataPullStatus": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Delay": {
                    "runAfter": {},
                    "type": "Wait",
                    "inputs": {
                      "interval": {
                        "count": 1,
                        "unit": "Minute"
                      }
                    }
                  },
                  "HTTP_2": {
                    "runAfter": {
                      "Delay": [
                        "Succeeded"
                      ]
                    },
                    "type": "Http",
                    "inputs": {
                      "body": {
                        "value": "run"
                      },
                      "headers": {
                        "Content-Type": "Application/json"
                      },
                      "method": "POST",
                      "uri": "https://prod-10.westus.logic.azure.com:443/workflows/e884fa1f348748f7a39ce1de724ebb58/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=U1NG2t4tOv6kU4R_cahovUSlqIWZ-qa81nCp9G6YNAw"
                    }
                  }
                }
              },
              "expression": "@not(equals(body('DataPullStatus')?['value']?[0]?['value'], '-1'))",
              "type": "If"
            },
            "DataPullStatus": {
              "runAfter": {
                "Execute_stored_procedure": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "api": {
                    "runtimeUrl": "https://logic-apis-westus.azure-apim.net/apim/sql"
                  },
                  "connection": {
                    "name": "@parameters('$connections')['sql']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('[bpst_news].[configuration]'))}/items",
                "queries": {
                  "$filter": "configuration_subgroup eq 'Notifier' and name eq 'DataPullStatus'",
                  "$select": "name,value"
                }
              }
            },
            "Execute_stored_procedure": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "api": {
                    "runtimeUrl": "https://logic-apis-westus.azure-apim.net/apim/sql"
                  },
                  "connection": {
                    "name": "@parameters('$connections')['sql']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/datasets/default/procedures/@{encodeURIComponent(encodeURIComponent('[bpst_news].[sp_get_pull_status]'))}"
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "sql": {
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_sqlNotifierConnection_name'))]",
                "connectionName": "sqlNotifierConnection",
                "id": "[concat('/subscriptions/',parameters('SubscriptionId'),'/providers/Microsoft.Web/locations/westus/managedApis/sql')]"
              }
            }
          }
        }
      } /*,
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('connections_sqlNotifierConnection_name'))]"
            ]*/
    }




  ]
}